<a href="https://colab.research.google.com/github/ariannabuenrostro/DSC_110/blob/main/python/intro_to_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This line prints the phrase "Hello World".
"print" allows the programmer to make something display on the users screen

In [ ]:
print('Hello World')

Hello World

# Variables
In this section, we'll discuss variables

In this line we are showing the importance of using quotation marks when wanting to print a string. If quotation marks aren't used the computer won't recognize the text resulting in an error

In [ ]:
print(hello world)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-2497053111.py, line 1)

In these lines we are assigning the word "boston" to the variable "a" then printng "a". When assigning something to a variable it can make it more efficient to print.

In [ ]:
a = 'boston'

In [ ]:
print(a)

boston

In this line we are printing the variable "a" but not everything contained in it. Putting -1 inside of a square bracket along with "a" tells the computer to print the -1'st letter aka the last letter of "boston".

In [ ]:
print(a[-1])

n

In these next lines we assigned integers to variables and then used them in simple formulas. This allows us to write out complex formulas in a language the computer understands.

In [ ]:
B=2
C=3

In [ ]:
B+C

5

In [ ]:
D=B+C

In [ ]:
print(D)

5

Here we are identifying what kind of texts each variable is by using "type". We are being told that "boston" is a string and "5" is an integer. This can allow us to correctly identify kinds of texts when writing code.

In [ ]:
type(a)

str

In [ ]:
type(D)

int

This is how we would write out an expontential function. We can use this depending on what our task is.

In [ ]:
5**2

25

# Data Structures (Containers)
Lists

Here we are assigning a whole list as a variable named "my_list". When printing a title with multiple words each word has to be separated by an underscore. When identifying a list it has to be inserted into square brackets and not forgettting to put text in quotation marks. This allows the programmer to display a list to the user.

In [ ]:
my_list=[1,2,3,5,'a']

In [ ]:
print(my_list)

[1, 2, 3, 5, 'a']

This line has the computer print information from "my_list" but more specifically the 0'th value aka the first value. We identify that we want the first and only the first value printed by inserting 0 into square brackets along with "my_list". This can allow the programmer to display specific data from the users input back to them.

In [ ]:
print(my_list[0])

1

This line is allowing us to change the 0'th value in "my_list" from 1 to 10 by stating the title of the list and then putting the value we want changed in square brackets along with it then stating what value we want it changed to by having it equal the value. This makes it easy to change a value in a list.

In [ ]:
my_list[0]=10

In [ ]:
print(my_list)

[10, 2, 3, 5, 'a']

Tuples

This line is creating a tuple with the name "my_tuple". The values are listed like in a list but are instead inside of square brackets to tell the computer that it's a tuple.
A tuple can be more efficient than a list

In [ ]:
my_tuple=(1,2,3,'a')

In [ ]:
print (my_tuple)

(1, 2, 3, 'a')

In [ ]:
print(my_tuple[0])

1

Here we are attempting to change a value in the tuple like we did for our list but an error comes up. This means we can't modify a tuple. This adds to data integrity.

In [ ]:
my_tuple[0]=10

TypeError: 'tuple' object does not support item assignment

cant change info in tuple

Dictionary

This line is creating a dictionary of information named "my_dictionary". The information we want to insert is first placed inside curly brackets and then categories are given inputs with a colon. This can be useful when pulling specific information out of large sets of data.

In [ ]:
my_dictionary={
    'Name':"Heather",
    'Age':'35',
    'Gender':'female',
    'City':'Boston'
}

The data is pulled out of the dictionary by putting what we want inside of square brackets.

In [ ]:
my_dictionary['Name']

'Heather'

Sets

This line creates a set simlar to lists and tuples but now the data is inserted to curly brackets. This allows for unordered and unique data.

In [ ]:
my_set={1,2,3,4,5,5}

In [ ]:
print(my_set)

{1, 2, 3, 4, 5}

# Functions

This line is assigning a function to a variable. This can be helpful when needing to use a function multiple times without having to write out the whole function.

In [ ]:
temp=(4*9/5)+32
print(temp)

39.2

In [ ]:
temp=(-6*5/9)+32
print(temp)

28.666666666666668

These lines of code are defining a function that converts the temperature in celsius to farenheit. The name of this function will be "c_temp". In the end of the function the user will receive the conversion to the temp in farenheit with the whole function (c_temp*(9/5))+32. Then the answer will be returned to the user with the "return" command. By saying that "f_temp = c_to_f(4)", it means the degrees in farenheit the user will receive is equal to the function that converts the temp in celsius to the temp in farenheit at 4 degrees celsius. By making functions like this so compact and easy to read it can make an otherwise lengthy code consice and efficient.

In [ ]:
def c_to_f(c_temp):
  f_temp=(c_temp*(9/5))+32
  return f_temp

In [ ]:
f_temp = c_to_f(4)
print (f_temp)

39.2

Formatted string literals

These next lines allow the programmer to modify specific parts of the string by beginning the line with "f'" which tells the computer that the string will be a formatted literal string. Then the line tells the computer to print literal text, "the temperature now is", followed by the function created earlier that converts the temperature in celsius to the temperature in farenheit in which the programmer inputs the value of 0 and 35. The line is ended with more text the computer will print, "F". In the end the line of code states what the temperature in farenheit is at 0 and 35 degrees celsius. This is more consise than writing multiple lines of code for one output.

In [ ]:
print(f'the temperature now is {c_to_f(0)}F')

the temperature now is 32.0F

In [ ]:
print(f'the temperature now is {c_to_f(35)}F')

the temperature now is 95.0F

Loops

These lines of code are assigning values to a list named "my_temp_list_c". Then to make sure the function created earlier that converts the temperature in celsius to farenheit works some values were inputted there as well. The third query is pulling the data from the list named "my_temp_list_c" and inputting it into the function "c_to_f". This allows for more function and less lines written.

In [ ]:
my_temp_list_c=[0,10,20,30,40]

In [ ]:
c_to_f(0)
c_to_f(10)

50.0

In [ ]:
for c_temp in my_temp_list_c:
  print(c_to_f(c_temp))

32.0
50.0
68.0
86.0
104.0

These lines are assigning placeholders for two values that the user inputs into a function named "calculate_bmi" that calculates an individuals body mass index. Then it assigns "bmi" as a variable that will equal the function that calculates the bmi and then return the result to the user. The second line is inserting the values into the bmi function and displaying the answer back to the function

In [ ]:
def calculate_bmi(weight_kg, height_m):
  bmi= weight_kg / (height_m**2)
  return bmi

In [ ]:
bmi= calculate_bmi(70,1.75)
print(bmi)

22.857142857142858

In [ ]:
BMI=18
if BMI<20:
  print('Underweight')
else:
    print('Normal')

Underweight

Libraries

below is how we import libraries
libraries in python have built in function
this demonstrates using one line from np

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
sum_c = sum(my_temp_list_c)
  print (c)

IndentationError: unexpected indent (ipython-input-652749028.py, line 2)